body {
  font-family: Poppins;
  background: #f4f7fb;
  padding: 20px;
}

#searchBox {
  width: 300px;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 15px;
  border: 1px solid #aaa;
  border-radius: 6px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: white;
}

th,
td {
  padding: 14px;
  border: 1px solid #ddd;
  font-size: 14px;
}

th {
  background: #0f58d6;
  color: white;
}

button {
  padding: 8px 12px;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

.view {
  background: green;
  color: white;
}
.del {
  background: red;
  color: white;
}
